extends layout

block corpo
    .w3-container
        .w3-card-4
            header.w3-container.w3-light-grey
                h3 Arquivo Música Digital
            .w3-container
                table.w3-table.w3-bordered
                    tr
                        th Marcha
                        th Lista de Canções
                    - var n = 0;
                    each t in root.marchas
                        tr
                            td #{Object.keys(root.marchas)[n++]}
                            td
                                ul
                                    each block in t
                                        li
                                            a(href="http://localhost:4005/amd/" + block["_id"])= block["titulo"]